body {
  background-color: #FFFFFF;
  color: black;
  font-family: serif;
}
#index {
  font-family: Arial, Helvetica, serif;
  color: black;
  font-size: 90%;
  position: absolute; left: 20px; top: 75px;
  margin-right: 20px;
  width: 120px;
  padding: 0 5px 0 0; /* top right bottom left */
  border-right: 2px solid #0000FF;
}
.indexentry { 
  font-family: Arial, Helvetica, sanserif;
  color: black;
}
#top { 
  position: absolute; left: 160px; top: 20px; right: 10px;
  margin-left: 20px;
  margin-right: 20px;
}
#trail { 
  position: absolute; left: 10px; top: 0;
  text-align: left;
  font-family: Arial, Helvetica, sanserif;
  font-size: 80%;
}
#content { 
  font-family: serif;
  color: black;
  position: absolute; left: 160px; top: 80px; bottom: 80px; right: 10px;
  padding: 10px 20px 0 0; /* top right bottom left */
  border-top: 1px solid black;
  margin-left: 10px;
  margin-right: 10px;
  overflow: auto;
}
#column { 
  font-family: serif;
  color: black;
  position: absolute; left: 160px; top: 0;
  margin-right: 200px;
  max-width: 550px;
}
#picture { 
  position: absolute; right: 60px; top: 240px;
  width: 120px;
}
#foot { 
  position: absolute; bottom: 10px; left: 0; right: 150px;
}
#w3valid{ 
  position: absolute; bottom: 10px; right: 20px
}
p.centred { 
  text-align: center;
}
p.right { 
  text-align: right;
}
table.centred { 
  text-align: center;
}
td.big { 
  font-size: 7ex;
}
div.cmnd { 
  padding: 0 0 0 5em; /* top right bottom left */
  margin: 0 0 0 0;
  font-family: Courier, monospace;
}
div.tt { 
  display: inline;
  font-family: Couries, monospace;
}
